

body {
  background-color: white;
}

h1 {
  color: #115050;
  text-align: center;
  font-family: Helvetica;
  font-size: 2.5em;

}

h2 {
  color: #226050;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.2em;

}

.topbar {
  background-color: #D4FAFF;
  border-radius: 6px;
  width: 100%;
}
